@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


body{
  min-height: 100vh;
}
.active{
    color:blue;
    
  }
  /* .basket_icon{
    position: relative;
  }
  .basket_icon .dot{
    position:absolute;
    min-width:10px;
    min-height:10px;
    top:0px;
    right:0px;
    background-color: red;
    border-radius: 5px;
  } */
  .banner{
    height:34vw;
  
    margin:30px auto;
    background: url('./header_img.png') no-repeat;
   /* background-size: contain; */
    
   }
   .banner h2{
      font-size:max(4.5vw,22px)
   }